<div>
  <h1>CATALÓGO DE FILMES</h1>
</div>

<div>
  <h3><%= link_to 'Lista de Filmes', lista_filmes_path %></h3>
  <h3><%= link_to 'Lista de Diretores', lista_diretors_path %></h3>
  <h3><%= link_to 'Lista de Gêneros', lista_generos_path %></h3>
</div>